<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ghqkl.schedule.dao.CoinPriceDao">
	<resultMap id="BaseResultMap" type="com.ghqkl.schedule.model.CoinPriceBean">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="coin" property="coin" jdbcType="VARCHAR" />
		<result column="price" property="price" jdbcType="DOUBLE" />
		<result column="change" property="change" jdbcType="DOUBLE" />
		<result column="update_time" property="updateTime" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="from" property="from" jdbcType="VARCHAR" />
		<result column="icon" property="icon" jdbcType="VARCHAR" />
		<result column="domain" property="domain" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="find">
         <if test="coin!=null">and coin = #{coin}</if>
         <if test="status!=null">and status = #{status}</if>
    </sql>
    <!-- <sql id="findLike">
         <if test="time!=null">and time like #{time}</if>
    </sql> -->
    <!-- 获取最近的一次币的价格 -->
    <select id="getById" resultMap="BaseResultMap">
       select * from coin_price where id = #{id}
    </select>
    <!-- 获取币价记录 -->
    <select id="queryAll" resultMap="BaseResultMap">
       select * from coin_price
    </select>
    
    <select id="queryList" resultMap="BaseResultMap" parameterType="com.ghqkl.schedule.model.CoinPriceBean">
        select * from coin_price where 1=1
         <include refid="find" />
    </select>
    <select id="count" resultType="long"  parameterType="com.ghqkl.schedule.model.CoinPriceBean">
        select count(1) from coin_price where 1=1
        <where>
        <include refid="find" />
        </where> 
    </select>
    <!-- 更新币的价格 -->
    <insert id="insert" parameterType="com.ghqkl.schedule.model.CoinPriceBean">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
          SELECT LAST_INSERT_ID()
      	</selectKey>
        insert into coin_price(coin,price,`change`,update_time,`from`,icon)
         values(#{coin},#{price},#{change},#{updateTime},#{from},#{icon})
    </insert>
    <update id="update" parameterType="com.ghqkl.schedule.model.CoinPriceBean" >
        update coin_price
        <set>
            <if test="coin!=null">coin=#{coin},</if>
            <if test="domain!=null">domain=#{domain},</if>
            <if test="status!=null">status=#{status},</if>
            <if test="price!=null">price=#{price},</if>
            <if test="change!=null">`change`=#{change},</if>
            <if test="updateTime!=null">update_time=#{updateTime},</if>
            <if test="from!=null">`from`=#{from},</if>
            <if test="icon!=null">icon=#{icon},</if>
        </set>
        where id = #{id}
    </update>
</mapper>