<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gh.xiangsu.dao.RecordRechargeDao">

<resultMap type="com.gh.xiangsu.entity.RecordRecharge" id="cjhj_record_recharges">
	<id property  = "id" column= "id"/>
	<result property  = "userId" column= "user_id"/>
	<result property  = "coin" column= "coin"/>
	<result property  = "address" column= "address"/>
	<result property  = "tx" column= "tx"/>
	<result property  = "value" column= "value"/>
	<result property  = "time" column= "time"/>
	<result property  = "surplusSpg" column= "surplus_spg"/>
</resultMap>

<sql id="Base_Column_List">	
id , user_id , coin , address , tx , value , time , surplus_spg	
</sql>	
<!--添加cjhj_record_recharge-->
 <insert id="addRecordRecharge" parameterType="com.gh.xiangsu.entity.RecordRecharge">                                                                                                                      
 		insert into cjhj_record_recharge(id,user_id,coin,address,tx,value,time,surplus_spg) values(#{id},#{userId},#{coin},#{address},#{tx},#{value},#{time},#{surplusSpg})     
 </insert>                                                                                                                                                                                                                        
<!--删除cjhj_record_recharge-->
 <delete id="delRecordRechargeTrue"  parameterType="String">                                                                                                                                                                       
     delete from cjhj_record_recharge where id = #{id}                                                                                                                                                                                          
 </delete>                                                                                                                                                                                                                        
<!--修改cjhj_record_recharge-->
 <update id="updateRecordRecharge" parameterType="com.gh.xiangsu.entity.RecordRecharge">                                                                                                                                           
     update cjhj_record_recharge set user_id = #{userId},coin = #{coin},address = #{address},tx = #{tx},value = #{value},time = #{time},surplus_spg = #{surplusSpg} where id = #{id} 
 </update>                                                                                                                                                                                                                        
<!--查询根据主键cjhj_record_recharge-->
 <select id="selectRecordRechargeByID" parameterType="String" resultMap="cjhj_record_recharges">                                                                                                                                       
     select  <include refid="Base_Column_List" /> from cjhj_record_recharge where  id = #{id}                                                                                                                                                                                    
 </select>                                                                                                                                                                                                                        
<!--查询所有未删除数据的总行数cjhj_record_recharge-->
 <select id="selectRecordRechargeCount" resultType="Integer">                                                                                                                                                                      
     select count('1') from cjhj_record_recharge                                                                                                                                                                              
 </select>                                                                                                                                                                                                                        
<!--查询所有数据的行数cjhj_record_recharge-->
 <select id="selectRecordRechargeCountAll" parameterType="String" resultMap="cjhj_record_recharges">                                                                                                                                   
     select count('1') from cjhj_record_recharge                                                                                                                                                                                             
 </select>                                                                                                                                                                                                                        
<!--查询根据条件cjhj_record_recharge-->
<select id="selectRecordRechargesByPOJO" parameterType="com.gh.xiangsu.entity.RecordRecharge"  resultMap="cjhj_record_recharges">
	select 
 <include refid="Base_Column_List" /> 
 from cjhj_record_recharge where 1=1 
	<if test="id != null and id != '' "> 
 and id = #{id} 
</if>
	<if test="userId != null and userId != '' "> 
 and user_id = #{userId} 
</if>
	<if test="coin != null and coin != '' "> 
 and coin = #{coin} 
</if>
	<if test="address != null and address != '' "> 
 and address = #{address} 
</if>
	<if test="tx != null and tx != '' "> 
 and tx = #{tx} 
</if>
	<if test="value != null and value != '' "> 
 and value = #{value} 
</if>
	<if test="time != null and time != '' "> 
 and time = #{time} 
</if>
	<if test="surplusSpg != null and surplusSpg != '' "> 
 and surplus_spg = #{surplusSpg} 
</if>

</select>
<!--查询根据条件查询的行数cjhj_record_recharge-->
<select id="selectRecordRechargesByPOJOCount" parameterType="com.gh.xiangsu.entity.RecordRecharge"  resultType="Integer">
	select count('1') from cjhj_record_recharge where 1=1 
	<if test="id != null and id != '' "> 
 and id = #{id} 
</if>
	<if test="userId != null and userId != '' "> 
 and user_id = #{userId} 
</if>
	<if test="coin != null and coin != '' "> 
 and coin = #{coin} 
</if>
	<if test="address != null and address != '' "> 
 and address = #{address} 
</if>
	<if test="tx != null and tx != '' "> 
 and tx = #{tx} 
</if>
	<if test="value != null and value != '' "> 
 and value = #{value} 
</if>
	<if test="time != null and time != '' "> 
 and time = #{time} 
</if>
	<if test="surplusSpg != null and surplusSpg != '' "> 
 and surplus_spg = #{surplusSpg} 
</if>
</select>
<!--查询根据条件分页查询cjhj_record_recharge-->
<select id="selectRecordRechargesByPojoPage" parameterType="java.util.Map"  resultMap="cjhj_record_recharges">
	select <include refid="Base_Column_List" /> from cjhj_record_recharge where 1=1 
	<if test="pojo.id != null and pojo.id != ''"> 
 and id = #{pojo.id} 
</if>
	<if test="pojo.userId != null and pojo.userId != ''"> 
 and user_id = #{pojo.userId} 
</if>
	<if test="pojo.coin != null and pojo.coin != ''"> 
 and coin = #{pojo.coin} 
</if>
	<if test="pojo.address != null and pojo.address != ''"> 
 and address = #{pojo.address} 
</if>
	<if test="pojo.tx != null and pojo.tx != ''"> 
 and tx = #{pojo.tx} 
</if>
	<if test="pojo.value != null and pojo.value != ''"> 
 and value = #{pojo.value} 
</if>
	<if test="pojo.time != null and pojo.time != ''"> 
 and time &lt; #{pojo.time} 
</if>
	<if test="pojo.surplusSpg != null and pojo.surplusSpg != ''"> 
 and surplus_spg = #{pojo.surplusSpg} 
</if>
order by time desc
 limit #{spu.startRow} , #{spu.pageSize}
</select>
<!-- 按条件查询条数 -->
	<select id="getListBySeacherPageCount" parameterType="java.util.Map" resultType="int">

		select
		count(1)
		from cjhj_record_recharge 

		<where>
		<if test="pojo.id != null and pojo.id != ''"> 
 and id = #{pojo.id} 
</if>


	<if test="pojo.userId != null and pojo.userId != ''"> 
 and user_id = #{pojo.userId} 
</if>


	<if test="pojo.coin != null and pojo.coin != ''"> 
 and coin = #{pojo.coin} 
</if>


	<if test="pojo.address != null and pojo.address != ''"> 
 and address = #{pojo.address} 
</if>


	<if test="pojo.tx != null and pojo.tx != ''"> 
 and tx = #{pojo.tx} 
</if>


	<if test="pojo.value != null and pojo.value != ''"> 
 and value = #{pojo.value} 
</if>


	<if test="pojo.time != null and pojo.time != ''"> 
 and time &lt; #{pojo.time} 
</if>


	<if test="pojo.surplusSpg != null and pojo.surplusSpg != ''"> 
 and surplus_spg = #{pojo.surplusSpg} 
</if>
		</where>
		order by time desc
	</select>
</mapper>

